lable {
	cursor: pointer;
	color: white;
	display: block;
	padding: 10px;
	margin: 3px;
    font-size:x-large;
}
.CreateEvent{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
    background-color: #12192c;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15%;
    /* border-top-left-radius: 15%;
    border-top-right-radius:15%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%; */
}
.inp > input{
    font-size: larger;
    border-radius: 15%;
}
.btn{
    font-size:x-large;
    margin-top: 50px;
    background-color:#606a86;
    color: black;
    font-weight: bold;
    border-radius: 15%;
}
button:hover{
    background-color: whitesmoke;
}
.showDataStyle{
    background-color: aquamarine;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2px 0px 2px 0px;
}
.outputContainer{
    margin-top: 10px;
}

.showDataStyle>p{
    justify-content: space-evenly;
}